
.movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  row-gap: 4em;
  place-items: center;
}

.more {
  text-align: center;
}

.more button {
  color: white;
  background-color: transparent;
  border: transparent;
}